@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
#dateSelectedBooking,
#dateSelectedRegister {
    background-color: yellow !important;
    font-weight: 700;
}

@media (max-width: 500px) {
    .headClass {
        margin-top: 120px;
    }
}

.headClass {
    margin-top: 120px;
}

a.availability {
    color: white !important;
}

@media screen and (max-width: 767px) {
    input,
    select,
    textarea {
        font-size: 16px !important;
        outline: none;
    }
}