    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
    #dateSelectedBooking,
    #dateSelectedRegister {
        font-weight: 700;
    }
    
    @media (max-width: 500px) {
        .headClass {
            margin-top: 120px;
        }
    }
    
    .addPlayerButton {
        display: inline-block;
    }
    
    .headClass {
        margin-top: 120px;
    }
    
    a.availability {
        color: white !important;
    }
    
    @media screen and (max-width: 767px) {
        input,
        select,
        textarea {
            font-size: 16px !important;
            outline: none;
        }
    }
    
    #closeAddPlayer,
    #pl_id {
        cursor: pointer;
    }
    
    .btn-card {
        font-size: 1rem;
        padding: 10px 20px;
        background-color: #21BA45;
        color: #ffffff;
        border: 2px;
        border-radius: 4px;
        text-shadow: none;
        font-weight: 700;
    }
    
    .btn-card:hover {
        background-color: #16ab39;
        color: #ffffff;
    }
    
    .confirm-button {
        font-size: 1rem;
        padding: 10px 20px;
        background-color: #16ab39;
        color: #ffffff;
        border: 2px;
        border-radius: 4px;
        text-shadow: none;
        font-weight: 700;
    }
    
    .confirm-button:hover {
        background-color: #21BA45;
        color: #ffffff;
    }