

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');


/* @font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../fonts/montserrat/Montserrat-Medium.ttf'); 
} */

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	/* height: 100%; */
	/* font-family: sans-serif; */
  font-family: 'Heebo', sans-serif;
  color: #5a5a5a;
}

/* ------------------------------------ */
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
/* input {
  display: block;
	outline: none;
	border: none !important;
} */

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}



/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  /* width: auto; */
  /* margin: 0 auto; */
}

.container-table100 {
  /* width: 100%; */
  width: auto;
  min-height: 100vh;
  background: #d1d1d1;
  padding: auto;

  /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px; */
}

.wrap-table100 {
  width: auto;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  /* width: 100%; */
  /* width: auto; */
  background-color: #fff;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* z-index: 2; */
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  /* width: 10px; */
  /* padding-left: 25px; */
  /* position: inherit; */
  /* position: sticky !important;
  top: 0px !important;
  z-index: 2 !important; */
}

 .column100.column1, column100.column2, column100.column3,column100.column4,column100.column5, column100.column6, column100.column7, column100.column8 {
  /* width: 195px !important; */
  /* overflow: scroll !important; */
  position: sticky !important;
  top: 0px !important;
  /* z-index: 2 !important; */
  /* padding-left: 42px; */
  /* position: absolute; */
 } 

.table.head{
  position: sticky !important;
  top: 0px !important;
  /* z-index: 2 !important; */
}

.row100.head th {
  background-color: #47844c;
  /* padding-top: 24px; */
  /* padding-bottom: 20px; */
  position: sticky !important;
	position: -webkit-sticky;
	top: 0px !important;
	/* z-index: 2 !important; */
}

th[scope="row"] {
	position: sticky !important;
	position: -webkit-sticky;
	left: 0px !important;
	/* z-index: 2 !important; */
}

thead{
  position: sticky !important;
	position: -webkit-sticky;
	top: 0px !important;
	/* z-index: 2 !important; */
}

.row100 td {
  /* padding-top: 18px; */
  /* padding-bottom: 14px; */
  position: sticky !important;
  top: 0px !important;
  /* z-index: 2 !important; */
}

/*==================================================================
[ Ver6 ]*/

.table100.ver6 {
  /* border-radius: 16px; */
  /* overflow-y: scroll;
  position: absolute; */
  /* background: #7918f2; 
  background: -webkit-linear-gradient(-68deg, #fffb00 , #ff6200);
  background: -o-linear-gradient(-68deg, #fffb00 , #ff6200);
  background: -moz-linear-gradient(-68deg, #fffb00 , #ff6200);
  background: linear-gradient(-68deg, #fffb00 , #ff6200);  */

  background: #47844c; 
  background: -webkit-linear-gradient(-68deg, #75da7c , #5d9b62);
  background: -o-linear-gradient(-68deg, #75da7c , #5d9b62);
  background: -moz-linear-gradient(-68deg, #75da7c , #5d9b62);
  background: linear-gradient(-68deg, #75da7c , #5d9b62); 

  /* background: rgb(28, 208, 214);
  background: -webkit-linear-gradient(-68deg, rgb(153, 197, 128) , rgb(54, 153, 62));
  background: -o-linear-gradient(-68deg, rgb(153, 197, 128) , rgb(54, 153, 62));
  background: -moz-linear-gradient(-68deg, rgb(153, 197, 128) , rgb(54, 153, 62));
  background: linear-gradient(-68deg, rgb(153, 197, 128) , rgb(54, 153, 62)); */

}

.table100.ver6 table {
  background-color: transparent;
}

.table100.ver6 td {
  /* font-family: Montserrat-Regular; */
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
}

.table100.ver6 th {
  /* font-family: Montserrat-Medium; */
  font-size: 12px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
  position: sticky !important;
  top: 0px !important;
  /* z-index: 2 !important; */

  /* background-color: rgba(255,255,255,0.32); */
}

.table100.ver6 .row100:hover td {
  background-color: rgba(255,255,255,0.1);
}

.table100.ver6 .hov-column-ver6 {
  background-color: rgba(255,255,255,0.1);
}


.table100.ver6 .row100 td:hover {
  background-color: rgba(255,255,255,0.2);
}